{% extends 'catalog/base.html' %}
{% block title %}Блог{% endblock %}

{% block content %}
<h1 class="mb-4">Блог</h1>
<a href="{% url 'blog:post_create' %}" class="btn btn-primary mb-3">Создать новую запись</a>
<div class="row">
    {% for post in posts %}
    <div class="col-md-4">
        <div class="card mb-4">
            {% if post.preview %}
                <img src="{{ post.preview.url }}" class="card-img-top" alt="{{ post.title }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content|truncatewords:30 }}</p>
                <p class="text-muted">Просмотров: {{ post.views_count }}</p>
                <a href="{% url 'blog:post_detail' post.pk %}" class="btn btn-sm btn-outline-primary">Читать</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>Нет опубликованных записей.</p>
    {% endfor %}
</div>
{% endblock %}