{% extends 'catalog/base.html' %}
{% block title %}Вход в Skystore{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Вход в аккаунт</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100">Войти</button>
                    </form>
                    <hr>
                    <p class="mb-0 text-center">Ещё нет аккаунта? <a href="{% url 'users:register' %}">Зарегистрироваться</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
