{% extends 'catalog/base.html' %}
{% block title %}Товары категории {{ category.name }}{% endblock %}
{% block content %}
<h1>Товары категории {{ category.name }}</h1>
<div class="row">
    {% for product in products %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5>{{ product.name }}</h5>
                <p>{{ product.price }} ₽</p>
                <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-sm btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>Нет товаров в этой категории.</p>
    {% endfor %}
</div>
{% endblock %}