{% extends 'catalog/base.html' %}
{% block title %}{% if form.instance.pk %}Редактировать товар{% else %}Добавить товар{% endif %}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>{% if form.instance.pk %}Редактировать товар{% else %}Добавить новый товар{% endif %}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group mb-3">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="alert alert-danger mt-1">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="{% url 'catalog:product_list' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}